<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zodiotac.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zodiotac</name>
    <description>Zodiotac AI Assistant</description>
    <author email="dev@zodiotac.com" href="https://github.com">Zodiotac Developer</author>
    <content src="index.html" />

    <platform name="android">
        <!-- Uses icon.svg directly as the app icon for Android -->
        <icon src="icon.svg" />
    </platform>
</widget>
