<platform name="android">
    <!-- Standard Android App Icon Configuration -->
    <icon src="resources/icon.svg" density="ldpi" />
    <icon src="resources/icon.svg" density="mdpi" />
    <icon src="resources/icon.svg" density="hdpi" />
    <icon src="resources/icon.svg" density="xhdpi" />
    <icon src="resources/icon.svg" density="xxhdpi" />
    <icon src="resources/icon.svg" density="xxxhdpi" />
</platform>
